.gallery-container {
}

.caroussel-container {
  display: flex;
  justify-content: center;
}

.flicking-viewport {
  margin: 25px 10px;
}

.flicking-camera {
  align-items: center;
}

.caroussel-image {
  width: 50vw;
  margin: 0 5px;
  border-radius: 20px;
}

iframe {
  width: 60vw;
}
