.main-title {
  margin-bottom: 0 !important;
}

.info {
  margin: 25px;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 25%;
    min-width: 250px;
    height: auto;
  }
}

.info h1 {
  font-family: Fondamento;
  text-align: center;
}

.info p {
  font-family: ALmendra;
  padding: 0 3vw;
  text-align: center;
}

.frase {
  font-weight: 600;
  width: 300px;
}
