.carousel-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 55%;
    position: absolute;
}

button {
    border: none;
    background-color: transparent;
    z-index: 100;
    position: relative;
}

.left-arrow {
    left: -34%;
}

.right-arrow {
    right: -34%;
}

.left-arrow:hover, .right-arrow:hover {
    cursor: pointer;
}


.left-arrow svg {
    width: 30px;
    stroke-width: 5px;
    margin-right: 10px;
}

.right-arrow svg {
    width: 30px;
    stroke-width: 5px;
    margin-left: 10px;
}

.left-arrow path, .right-arrow path {
    stroke: var(--dark-brown);
}

.carousel-container img {
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    box-shadow: -1px 0px 15px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -1px 0px 15px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 0px 15px 5px rgba(0, 0, 0, 0.4);
}

.carousel-container img:nth-child(3) {
    position: absolute;
    width: 38%;
    transform: scale(1.2);
    z-index: 99;
}

.carousel-container img:nth-child(2) {
    position: absolute;
    width: 33%;
    z-index: 98;
    opacity: .7;
    transform: translateX(-50%);
}

.carousel-container img:nth-child(4) {
    position: absolute;
    width: 33%;
    z-index: 98;
    opacity: .7;
    transform: translateX(50%);
}