@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Saira+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

* {
  scroll-behavior: smooth;
}

:root {
  --claret: #6e0d25;
  --cream: #ffffb3;
  --earth-yellow: #dcab6b;
  --sepia-brown: #774e24;
  --seal-brown: #6a381f;
  --carmelite-brown: #613214;
  --dark-brown: #442417;
  --olive-brown: #9e885d;
  --white: #ffff;
  --black: #000000;
  --shadow-gray: rgba(0, 0, 0, 0.25);
  --cream-lighter: #ffffeb;
}

body {
  margin: 0;
  padding: 0;
}
