.wrapper {
    display: flex;
    align-items: center;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
}

.title h1 {
    font-family: 'Fondamento';
    color: var(--white);
    font-weight: 300;
    width: 300px;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0);
    margin: 0;
}

.shield {
    width: 50px;
}

.images-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.55);
}

.saint-teresa-img {
    width: 50%;
}

.writing-img {
    width: 50%;
}

.landing-info h1 {
    font-family: 'Fondamento';
}

.landing-info p {
    font-family: 'Almendra';
}

.landing-info {
    padding: 20px;
    color: var(--black);
}

@media (max-width: 940px) {
    .title h1 {
        font-size: 25px;
        height: min-content;
        gap: 7px;
    }

    .shield {
        width: 25px;
    }
}

@media (max-width: 640px) {
    .title h1 {
        font-size: 14px;
        height: min-content;
    }

    .shield {
        width: 18px;
    }
}